
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Whitney;
    font-size: 20px;
}


/* header */

header::after{
    content: "";
    clear: both;
    display: table;
}

/* imposto tutto il mio header */
header{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: rgba(49, 97, 224, 255);
}


/* posiziono logo, main nav e accedi */
.logo{
    margin-left: 10%;
}

.logo, #main-nav{
    float: left;
    margin-right: 15%;
}

#accedi{
    float: right;
    margin-right: 5%;
}

#main-nav li{
    display: inline-block;
    margin-right: 10px;
}


header a{
    margin: 5px 10px;
    text-decoration: none;
    color: white;
}

#accedi a{
    padding: 13px;
    border-radius: 50px;
    background-color: white;
    color: rgba(49, 97, 224, 255);
}



/* section */

section{
    width: 100vw;
    height: 400px;
    background-image: url("img/jumbo.png");
    background-size: cover;
}

















































