
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Whitney, Helvetica neue;
    font-size: 20px;
}


/* header */

header::after{
    content: "";
    clear: both;
    display: table;
}

/* imposto tutto il mio header */
header{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: rgba(49, 97, 224, 255);
}


/* posiziono logo, main nav e accedi */
.logo{
    margin-left: 10%;
}

.logo, #main-nav{
    float: left;
    margin-right: 15%;
}

#accedi{
    float: right;
    margin-right: 5%;
}

#main-nav li{
    display: inline-block;
    margin-right: 10px;
}


header a{
    margin: 5px 10px;
    text-decoration: none;
    color: white;
}

#accedi a{
    padding: 13px;
    border-radius: 50px;
    background-color: white;
    color: rgba(49, 97, 224, 255);
}



/* section */

.copertina{
    width: 100vw;
    height: 500px;
    background-image: url("img/jumbo.png");
    background-size: cover;
    text-align: center;
    position: relative;
}

.text{
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -80%);
    line-height: 30px;
}




section h1{
    font-size: 50px;
    margin: 50px 0;
}

section a{
    text-decoration: none;
}





.button-download a{
    color: black;
    padding: 13px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 15%;
    left: 35%;
}

.button-sito a{
    color: white;
    padding: 13px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    bottom: 15%;
} 



/* spazio */

.spazio{
    position: relative;
    width: 100vw;
    height: 600px;
}

.image-spazio, .text-spazio{
    position: absolute;
    top: 10%;    
}

.text-spazio{
    right: 20%;
}

.image-spazio{
    left: 10%;
}




/* vocale */

































































