
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Whitney, Helvetica neue;
    font-size: 20px;
}

a:hover{
    text-decoration: underline;
}


/* header */

header::after{
    content: "";
    clear: both;
    display: table;
}

/* imposto tutto il mio header */
header{
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    line-height: 80px;
    background-color: rgba(49, 97, 224, 255);
}


/* posiziono logo, main nav e accedi */
.logo{
    margin-left: 10%;
}

.logo, #main-nav{
    float: left;
    margin-right: 15%;
}

#accedi{
    float: right;
    margin-right: 5%;
}

#main-nav li{
    display: inline-block;
    margin-right: 10px;
}



header a{
    margin: 5px 10px;
    text-decoration: none;
    color: white;
}

#accedi a{
    padding: 13px;
    border-radius: 50px;
    background-color: white;
    color: rgba(49, 97, 224, 255);
}



/* section */

.copertina{
    width: 100vw;
    min-height: 546px;
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.text{
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -80%);
    line-height: 30px;
    max-width: 780px;
}




section h1{
    font-size: 50px;
    margin: 50px 0;
}

section a{
    text-decoration: none;
}





.button-download a{
    color: black;
    padding: 13px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 15%;
    left: 35%;
}

.button-sito a{
    color: white;
    padding: 13px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    bottom: 15%;
} 



/* spazio */

.spazio{
    position: relative;
    width: 100vw;
    height: 600px;
}

.image-spazio, .text-spazio{
    position: absolute;
    top: 10%;    
}

.text-spazio{
    right: 20%;
    max-width: 400px;
}

.image-spazio{
    left: 10%;
}




/* vocale */


.vocale{
    position: relative;
    width: 100vw;
    height: 600px;
    background-color: rgb(219, 214, 214);
}

.image-vocale, .text-vocale{
    position: absolute;
    top: 10%;    
}

.image-vocale{
    right: 10%;
}

.text-vocale{
    left: 20%;
    max-width: 400px;
}

.text-vocale p{
    max-width: 350px;
}


/* community */


.community{
    position: relative;
    width: 100vw;
    height: 600px;
}

.image-community, .text-community{
    position: absolute;
    top: 10%;    
}

.text-community{
    right: 20%;
    max-width: 400px;
}

.image-community{
    left: 10%;
}


/* video */

.video{
    width: 100vw;
    height: 800px;
    background-color: rgb(219, 214, 214);
    position: relative;
}

.text-video, .image-video{
    max-width: 1100px;
    margin: 2% 15%;
    text-align: center;
    position: absolute;
}

.image-video{
    top: 30%;
    left: 5%;
}



/* footer */



























































